name: quality

on:
  workflow_call:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  changes:
    runs-on: ubuntu-latest
    outputs:
      lua: ${{ steps.changes.outputs.lua }}
      markdown: ${{ steps.changes.outputs.markdown }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            lua:
              - 'lua/**'
              - 'plugin/**'
              - 'spec/**'
              - '*.lua'
              - '.luarc.json'
              - '*.toml'
              - 'vim.yaml'
            markdown:
              - '*.md'

  lua-format:
    name: Lua Format Check
    runs-on: ubuntu-latest
    needs: changes
    if: ${{ needs.changes.outputs.lua == 'true' }}
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v31
      - run: nix develop --command stylua --check lua spec

  lua-lint:
    name: Lua Lint Check
    runs-on: ubuntu-latest
    needs: changes
    if: ${{ needs.changes.outputs.lua == 'true' }}
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v31
      - run: nix develop --command selene --display-style quiet .

  lua-typecheck:
    name: Lua Type Check
    runs-on: ubuntu-latest
    needs: changes
    if: ${{ needs.changes.outputs.lua == 'true' }}
    steps:
      - uses: actions/checkout@v4
      - uses: stevearc/nvim-typecheck-action@v2
        with:
          path: lua
          luals-version: 3.16.4

  markdown-format:
    name: Markdown Format Check
    runs-on: ubuntu-latest
    needs: changes
    if: ${{ needs.changes.outputs.markdown == 'true' }}
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v31
      - run: nix develop --command prettier --check .
